*{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./imgs/pokemon-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background: rgb(0, 187, 255);
    text-align: center;
    padding: 10px;
    color: white;
    flex: 0 0 50px;
}
#pokedex{
    display: flex;
    flex-direction: row;
    background-image: url(./imgs/pokedex.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 660px;
    height: 500px;
    margin: auto;
}
#dispositivo, #tapa{
    height: 100%;
    width: 50%;
}
.pantalla{
    background-color: white;
    height: 132px;
    width: 200px;
    position: relative;
    top: 165px;
    left: 80px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numero{
    background-color: #60C281;
    position: relative;
    top: 264px;
    left: 100px;
    height: 46px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data{
    background-color: #084035;
    width: 200px;
    height: 80px;
    position: relative;
    top: 171px;
    left: 66px;
    border: 1px solid black;
    border-radius: 5px;
    color: aliceblue;
}
.imagen{
    height: 140px;
    object-fit: cover;
}
.listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.listado>tr{
    margin: 2px 3px;
}